.card-body{
    text-align: left;
    line-height: 2;
    height: 450px;
   justify-self: center;
   align-self: center;
}
a{
    text-decoration: none;
    margin: auto;
}
.api-img{
    height: 282px;
    border-radius: 12px;
    width: 351px;
}
.card-body p{
    width: 330px;
}